body {
  background: linear-gradient(to right, #141e30, #243b55);
  font-family: Arial;
}

.card {
  background: white;
  width: 400px;
  margin: 80px auto;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

img {
  width: 100px;
}

input, button {
  width: 90%;
  padding: 10px;
  margin: 8px 0;
}

button {
  background: #243b55;
  color: white;
  border: none;
  cursor: pointer;
}
